@model IEnumerable<CandyStoreApp.Models.OrderItem>

@{
    ViewData["Title"] = "Товари замовлення";
}

<h1 class="display-4 text-center mb-3">Таблиця "Товари замовлення"</h1>

<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-primary">Додати товар</a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-info">
        <tr>
            <form method="get" asp-action="Index" class="mb-3">
            <td>
                <input type="text" class="form-control" name="searchQuantity" placeholder="Кількість" value="@ViewData["SearchQuantity"]" />
            </td>
            <td>
                <input type="text" class="form-control" name="searchTotalAmount" placeholder="Загальна сума" value="@ViewData["SearchTotalAmount"]" />
            </td>
            <td>
                <input type="text" class="form-control" name="searchOrderNumber" placeholder="Номер замовлення" value="@ViewData["SearchOrderNumber"]" />
            </td>
            <td>
                <input type="text" class="form-control" name="searchProduct" placeholder="Продукт" value="@ViewData["SearchProduct"]" />
            </td>
            <td class="text-center">
                <button type="submit" class="btn btn-primary mx-1">Шукати</button>
                <a href="@Url.Action("Index", new { searchQuantity = (string)null, searchTotalAmount = (string)null, searchOrderNumber = (string)null, searchProduct = (string)null, sortColumn = ViewData["sortColumn"], sortOrder = ViewData["sortOrder"] })" class="btn btn-secondary mx-1">Очистити</a>
            </td>
            </form>
        </tr>
        <tr>
            <th>
                <a href="@Url.Action("Index", new { sortColumn = "quantity", sortOrder = ViewData["sortOrder"].ToString() == "asc" ? "desc" : "asc", searchQuantity = ViewData["SearchQuantity"], searchTotalAmount = ViewData["SearchTotalAmount"], searchOrderNumber = ViewData["SearchOrderNumber"], searchProduct = ViewData["SearchProduct"] })">
                    <div class="d-flex flex-row justify-content-between">
                        Кількість
                        @if (ViewData["sortColumn"]?.ToString() == "quantity")
                        {
                            <i>
                                @(ViewData["sortOrder"]?.ToString() == "asc" ? "↑" : "↓")
                            </i>
                        }
                    </div>
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortColumn = "total_amount", sortOrder = ViewData["sortOrder"].ToString() == "asc" ? "desc" : "asc", searchQuantity = ViewData["SearchQuantity"], searchTotalAmount = ViewData["SearchTotalAmount"], searchOrderNumber = ViewData["SearchOrderNumber"], searchProduct = ViewData["SearchProduct"] })">
                    <div class="d-flex flex-row justify-content-between">
                        Загальна сума
                        @if (ViewData["sortColumn"]?.ToString() == "total_amount")
                        {
                            <i>
                                @(ViewData["sortOrder"]?.ToString() == "asc" ? "↑" : "↓")
                            </i>
                        }
                    </div>
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortColumn = "id_order", sortOrder = ViewData["sortOrder"].ToString() == "asc" ? "desc" : "asc", searchQuantity = ViewData["SearchQuantity"], searchTotalAmount = ViewData["SearchTotalAmount"], searchOrderNumber = ViewData["SearchOrderNumber"], searchProduct = ViewData["SearchProduct"] })">
                    <div class="d-flex flex-row justify-content-between">
                        Номер замовлення
                        @if (ViewData["sortColumn"]?.ToString() == "id_order")
                        {
                            <i>
                                @(ViewData["sortOrder"]?.ToString() == "asc" ? "↑" : "↓")
                            </i>
                        }
                    </div>
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortColumn = "product_name", sortOrder = ViewData["sortOrder"].ToString() == "asc" ? "desc" : "asc", searchQuantity = ViewData["SearchQuantity"], searchTotalAmount = ViewData["SearchTotalAmount"], searchOrderNumber = ViewData["SearchOrderNumber"], searchProduct = ViewData["SearchProduct"] })">
                    <div class="d-flex flex-row justify-content-between">
                        Продукт
                        @if (ViewData["sortColumn"]?.ToString() == "product_name")
                        {
                            <i>
                                @(ViewData["sortOrder"]?.ToString() == "asc" ? "↑" : "↓")
                            </i>
                        }
                    </div>
                </a>
            </th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.IdOrderNavigation.IdOrder)</td>
                <td>@Html.DisplayFor(modelItem => item.IdProductNavigation.ProductName)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.IdOrderItem" class="btn btn-sm btn-warning mx-1">Змінити</a>
                    <a asp-action="Delete" asp-route-id="@item.IdOrderItem" class="btn btn-sm btn-danger mx-1">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
